
.posttitle{
    color:#94bcb7;
}
.text-red-500{color: #94bcb7}

.text-4xl{
    font-size: 18px;
    color: #d58d9d
}

.foldertitle{
    font-size:18px;
    color: #d58d9d
}

.title{
    color:#94bcb7;
}